<div class="row">
  <!--<%= image_tag("internal.png",width:"100%") %>-->
  <div class="col-lg-4 col-lg-offset-4 well">
    <%= image_tag("internalup.png", width:"100%") %>
    <h3>About Speaker:<br> | Machine Learning Trainer | TEDx Speaker | Co-orgranizer TensorFlow UserGroup Mumbai |</h3>
    <h3 class="text-center">Kindly, fill the details</h3>
    <br>

    <%= render 'form', alievent: @alievent %>

  </div>
</div>

