<div class="row">
  <div class="col-lg-4 col-lg-offset-4 well">
    <h3 class="text-center">Thank You So Much!</h3>
    <h4 class="text-center">Check Your Email</h4>
    <br>
    <h5>Join our whatsapp group of Cloud Computing Webinar for more: </h5>
    <p style="font-size:20px"><a href="http://bit.ly/wajoincncloud">Tap to Join</a></p>
    <h5>Google Meet join meeting link:</h5>
    <p style="font-size:20px"><a href="https://meet.google.com/hid-zarx-zmx">https://meet.google.com/hid-zarx-zmx</a></p>
    <h5>For any queries, contact:</h5>
    <p>Vaibhav Said: +918369888377</p>
    <br>
    <h5>We have emailed you same information so that you never lose it, how thoughful</h5>
  </div>
</div>
