<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">
    <h3 class="text-center">ABOUT</h3>
    <hr>
    <p> form@Computer University is an Open Source platform for providing event registration. Source Code is available at: </p>
    <br>
    <a href="https://github.com/saviourcode/formcomputeruniversity" class="btn btn-warning">
      Github
    </a>
  </div>
</div>
