<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h1>Welcome Onboard!, Dear <%= @user.name %></h1>
      
      <p>
         You have successfully submitted the form. 
      </p>
      
      <p>
         Further details will contacted through email and phone number. So, stay tuned. 
      </p>
      
      <p>Thanks for joining and have a great day!</p>

      <p>We are happy to help,<br>
      Vaibhav Said: +918369888377
      </p>

      <p>Follow Us on:
      <br>YouTube: https://youtube.com/c/electronictechnocrat?sub_confirmation=1
      <br>Instagram: https://instagram.com/electronic_technocrat/
      <br>Slack: https://join.slack.com/t/electronictechnocrat/shared_invite/zt-e1ia1gxi-~rCDo0yKOBxIt55_evXitA
      <br>Facebook: https://facebook.com/electronic.technocrat12/
      <br>Telegram: https://t.me/electronictechnocrat
      <br>Google Classroom Code: merkmxp
      <br>Email at: electronictechnocrat12@gmail.com
      </p>
      
   </body>
</html>
