<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
    <p style="font-size:20px"><q>I don’t need a hard disk in my computer if I can get to the server faster… carrying around these non-connected computers is byzantine by comparison.” ~ Steve Jobs, Co-founder, CEO and Chairman of Apple Inc.</q></p>
    <h1>Dear <%= @user.title %> <%= @user.name %></h1>
    <p style="font-size:20px">This email is a reminder for your upcoming webinar "Start your Cloud Journey - Know the steps" by Chirag Nayyar on 13th June 2020 at 5pm (IST).</p>

    <h2>To join our WhatsApp Group of Cloud Computing Webinar for more:</h2>
    <p style="font-size:20px">
    <a href="http://bit.ly/wajoincloud">Tap to Join</a>
    </p>

    <h2>Google Meet join meeting link:</h2>
    <p style="font-size:20px">
    <a href="https://meet.google.com/hid-zarx-zmx">https://meet.google.com/hid-zarx-zmx</a>
    </p>

    <p>Thanks for joining and have a great day!</p>

    <p>We are happy to help,<br>
    Vaibhav Said: +918369888377
    </p>

    <p>Follow Us on:
    <br><a href="https://youtube.com/c/electronictechnocrat?sub_confirmation=1" style="font-size:15px">YouTube</a>
    <br><a href="https://instagram.com/electronic_technocrat/" style="font-size:15px">Instagram</a>
    <br><a href="https://join.slack.com/t/electronictechnocrat/shared_invite/zt-e1ia1gxi-~rCDo0yKOBxIt55_evXitA" style="font-size:15px">Slack</a>
    <br><a href="https://facebook.com/electronic.technocrat12/" style="font-size:15px">Facebook</a>
    <br><a href="https://t.me/electronictechnocrat" style="font-size:15px">Telegram</a>
    <br><a style="font-size:15px">Google Classroom Code: merkmxp</a>
    <br><a style="font-size:15px">Email at: electronictechnocrat12@gmail.com</a>
    </p>

  </body>
</html>
