<html>
  <head>
    <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
  </head>

  <body>
    <%= image_tag(attachments['email_header.png'].url) %>
    <h1>Welcome Onboard!, Dear <%= @user.title %> <%= @user.name %></h1>

    <p>
    You have successfully submitted the form. 
    </p>

    <h2>To join our WhatsApp Group of Cloud Computing Webinar for more:</h2>
    <p style="font-size:20px">
    <a href="http://bit.ly/wajoincloud">Tap to Join</a>
    </p>

    <h2>Google Meet join meeting link:</h2>
    <p style="font-size:20px">
    <a href="https://meet.google.com/hid-zarx-zmx">https://meet.google.com/hid-zarx-zmx</a>
    </p>

    <p>Thanks for joining and have a great day!</p>

    <p>We are happy to help,<br>
    Vaibhav Said: +918369888377
    </p>

    <p>Follow Us on:
    <br><a href="https://youtube.com/c/electronictechnocrat?sub_confirmation=1" style="font-size:15px">YouTube</a>
    <br><a href="https://instagram.com/electronic_technocrat/" style="font-size:15px">Instagram</a>
    <br><a href="https://join.slack.com/t/electronictechnocrat/shared_invite/zt-e1ia1gxi-~rCDo0yKOBxIt55_evXitA" style="font-size:15px">Slack</a>
    <br><a href="https://facebook.com/electronic.technocrat12/" style="font-size:15px">Facebook</a>
    <br><a href="https://t.me/electronictechnocrat" style="font-size:15px">Telegram</a>
    <br><a style="font-size:15px">Google Classroom Code: merkmxp</a>
    <br><a style="font-size:15px">Email at: electronictechnocrat12@gmail.com</a>
    </p>

  </body>
</html>
